<header>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="chackbtn">
            <i class="fas fa-bars" style="color: white;"></i>
        </label>
        <img class="logoimg" src="/Assets/icons/logo222.png">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/Menu.html">Menu</a></li>
            <li><a href="/About.html">About us</a></li>
            <li><a href="/Contact.html">Contact</a></li>
            <li><a href="/Signup.html">Sign up</a></li>
        </ul>
    </nav>
</header>